.popover {
  --background: #222;
}

.caja_icon {
  margin-top: 10px;
  width:  100%;
  height: 100%;
  border-radius: 10px;
  border: solid 2px #e03a00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

img {
  width: 50%;
  height: 70%;
}
