<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="..">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Alta Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-justify-content-evenly ion-margin-top">
      <img [src]="preVistaFotos[0]" alt="imagen" width="100" height="100">
      <img [src]="preVistaFotos[1]" alt="imagen" width="100" height="100">
      <img [src]="preVistaFotos[2]" alt="imagen" width="100" height="100">
    </ion-row>

    <ion-item>
      <ion-label slot="end"><i class="fas fa-info-circle"></i></ion-label>
      <ion-input type="text" name="descripcion" placeholder="Descripción" [(ngModel)]="descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label slot="end"><i class="far fa-clock"></i></ion-label>
      <ion-input type="text" name="tiempoPromedioElaboracion" placeholder="Tiempo De Elaboración" [(ngModel)]="tiempoPromedioElaboracion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label slot="end"><i class="fas fa-dollar-sign"></i></ion-label>
      <ion-input type="text" name="precio" placeholder="Precio" [(ngModel)]="precio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fotos subidas</ion-label>
      <ion-badge slot="end" color="light">{{fotos.length}} / 3</ion-badge>
    </ion-item>

    <ion-button class="ion-text-center" color="tertiary" expand="full" (click)="tomarFotos()">
      Tomar foto &nbsp;<ion-icon  name="camera"></ion-icon>
    </ion-button>

    <ion-button color="warning" expand="full" (click)="deshacerFotos()">
      Deshacer Fotos &nbsp;<ion-icon name="trash-outline"></ion-icon>
    </ion-button>

    <ion-button class="ion-text-center" color="secondary" expand="full" *ngIf="!qrDato" (click)="crearCodigo()">
      Crear Codigo QR&nbsp;<ion-icon  name="qr-code"></ion-icon>
    </ion-button>

    <ion-row [hidden]="!qrDato" class="ion-margin-vertical">
      <ngx-qrcode [value]="qrDato" elementType="canvas" style="margin: 0 auto;" id="qr"></ngx-qrcode>
    </ion-row>

    <ion-button color="success" expand="full" (click)="registrar()">Registrar</ion-button>
</ion-content>