<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="..">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Alta Empleados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-row class="ion-justify-content-center ion-no-margin">
        <img [src]="imagenVista" alt="imagen" width="160" height="160">
      </ion-row>
    </ion-card-header>

    <ion-row class="ion-no-margin">
      <ion-col>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" name="correo" [(ngModel)]="correo"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Clave</ion-label>
          <ion-input type="password" name="clave" [(ngModel)]="clave"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" name="apellido" [(ngModel)]="apellido"></ion-input>
    </ion-item>

    <ion-row class="ion-no-margin">
      <ion-col>
        <ion-item>
          <ion-label position="floating">DNI</ion-label>
          <ion-input type="text" name="dni" [(ngModel)]="dni"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">CUIL</ion-label>
          <ion-input type="text" name="cuil" [(ngModel)]="cuil"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label>Tipo Empleado</ion-label>
      <ion-select placeholder="Seleccionar" name="tipo" [(ngModel)]="tipo">
        <ion-select-option value="0">Mozo</ion-select-option>
        <ion-select-option value="1">Cocinero</ion-select-option>
        <ion-select-option value="2">Bartender</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-row class="ion-justify-content-around">
      <ion-button class="ion-text-center" color="tertiary" (click)="tomarFoto()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>

      <ion-button class="ion-text-center" color="tertiary" (click)="escanear()">
        <ion-icon slot="icon-only" name="scan-circle"></ion-icon>
      </ion-button>
    </ion-row>

    <ion-button color="success" expand="full" (click)="registrar()">Registrar</ion-button>
  </ion-card>
</ion-content>