<ion-header>
  <ion-toolbar>
    <ion-title>Dueño</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="person-circle" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" routerLink="/alta-duenio-supervidor">
    <ion-text color="light">Alta Dueño / Supervisor</ion-text>
  </ion-button>
  <div class="qr">
    <app-qr-lector (info_escaneada)=recibir_info()></app-qr-lector>
  </div>
</ion-content>
